@import url('../../../asset/css/index.css');

.dropdown-menu {
  background: var(--mui-palette-common-white);
  border: 1px solid var(--mui-palette-divider);
  border-radius: var(--mui-shape-borderRadius);
  box-shadow: var(--mui-shadows-shadow);
  display: flex;
  flex-direction: column;
  gap: var(--mui-spacing-unit);
  overflow: auto;
  padding: var(--mui-spacing-unit);
  position: relative;
}

.dropdown-menu button {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 0.25rem;
  text-align: left;
  width: 100%;
}

.dropdown-menu button:hover,
.dropdown-menu button:hover.is-selected {
  background-color: var(--mui-palette-background-paper);
}

.dropdown-menu button.is-selected {
  background-color: var(--mui-palette-background-paper);
}

.dropdown-menu button img {
  height: 1em;
  width: 1em;
}