:root {
  --ct-tt-table-handle-bg-color: rgba(0, 0, 0, 0.05);
}

.dark {
  --ct-tt-table-handle-bg-color: rgba(255, 255, 255, 0.1);
}

.tiptap-table-handle-menu {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ct-tt-table-handle-bg-color);
  border-radius: var(--ct-tt-radius-lg, 4px);
  cursor: pointer;
}

.tiptap-table-handle-menu:hover {
  background-color: var(--ct-tt-brand-color-500, #1976d2);
}

.tiptap-table-handle-menu:hover .tiptap-button-icon {
  color: var(--white);
}

.tiptap-table-handle-menu.menu-opened {
  background-color: var(--ct-tt-brand-color-500, #1976d2);
}

.tiptap-table-handle-menu.is-dragging {
  cursor: grabbing;
  background-color: var(--ct-tt-brand-color-500, #1976d2);
}

.tiptap-table-handle-menu.row {
  width: 0.75rem;
  height: var(--table-handle-ref-height);
}

.tiptap-table-handle-menu.column {
  height: 0.75rem;
  width: var(--table-handle-ref-width);
}