.tiptap-table-extend-row-column-button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mui-palette-background-paper3);
  border-radius: var(--mui-shape-borderRadius);
  cursor: pointer;
}

.tiptap-table-extend-row-column-button .tiptap-button-icon {
  color: var(--mui-palette-text-disabled);
}

.tiptap-table-extend-row-column-button:hover {
  background-color: var(--mui-palette-primary-main);
}

.tiptap-table-extend-row-column-button:hover .tiptap-button-icon {
  color: var(--mui-palette-common-white);
}

.tiptap-table-extend-row-column-button.tiptap-table-row-end-add-remove {
  width: 100%;
  height: 0.75rem;
}

.tiptap-table-extend-row-column-button.tiptap-table-column-end-add-remove {
  width: 0.75rem;
}