:root {
  --ct-tt-table-handle-bg-color: rgba(0, 0, 0, 0.05);
  --ct-tt-table-extend-icon-color: rgba(0, 0, 0, 0.4);
}

.dark {
  --ct-tt-table-handle-bg-color: rgba(255, 255, 255, 0.1);
  --ct-tt-table-extend-icon-color: rgba(255, 255, 255, 0.4);
}

.tiptap-table-extend-row-column-button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ct-tt-table-handle-bg-color);
  border-radius: var(--ct-tt-radius-lg, 4px);
  cursor: pointer;
}

.tiptap-table-extend-row-column-button:hover {
  background-color: var(--ct-tt-brand-color-500, #1976d2);
}

.tiptap-table-extend-row-column-button:hover .tiptap-button-icon {
  color: var(--white);
}

.tiptap-table-extend-row-column-button.tiptap-table-row-end-add-remove {
  width: 100%;
  height: 0.75rem;
}

.tiptap-table-extend-row-column-button.tiptap-table-column-end-add-remove {
  width: 0.75rem;
}