@import 'highlight.js/styles/an-old-hope.css';
@import 'katex/dist/katex.min.css';

:root {
  --mui-shape-borderRadius: 10px;
  --mui-spacing-unit: 8px;

  --mui-transitions-duration-short: 250ms;
  --mui-transitions-duration-standard: 300ms;
  --mui-transitions-easing-easeOut: cubic-bezier(0.0, 0, 0.2, 1);
  --mui-transitions-easing-easeInOut: cubic-bezier(0.4, 0, 0.2, 1);

  overflow-wrap: break-word;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.tiptap.ProseMirror {
  padding: 0.25rem;
}

.tiptap.ProseMirror a {
  text-decoration: none;
}

.tiptap.ProseMirror *:not(pre)>code {
  background-color: var(--mui-palette-background-paper3);
  border: 1px solid var(--mui-palette-divider);
  border-radius: 4px;
  font-size: 90%;
  white-space: break-spaces;
  word-break: break-word;
  overflow-wrap: break-word;
  padding: 0.125rem 0.25rem;
}

.tiptap.ProseMirror label:has(input[type="checkbox"]) {
  line-height: 1;
  padding-top: 0.5rem;
}

.tiptap.ProseMirror input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid;
  border-radius: 4px;
  background-color: var(--mui-palette-background-default);
  cursor: pointer;
  position: relative;
  transition: all var(--mui-transitions-duration-short) var(--mui-transitions-easing-easeOut);
}

.tiptap.ProseMirror input[type="checkbox"]:checked {
  background-color: var(--mui-palette-background-paper);
}

.tiptap.ProseMirror input[type="checkbox"]:checked::after {
  content: "";
  width: 70%;
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--mui-palette-primary-main);
  -webkit-mask: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22currentColor%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M21.4142%204.58579C22.1953%205.36683%2022.1953%206.63317%2021.4142%207.41421L10.4142%2018.4142C9.63317%2019.1953%208.36684%2019.1953%207.58579%2018.4142L2.58579%2013.4142C1.80474%2012.6332%201.80474%2011.3668%202.58579%2010.5858C3.36683%209.80474%204.63317%209.80474%205.41421%2010.5858L9%2014.1716L18.5858%204.58579C19.3668%203.80474%2020.6332%203.80474%2021.4142%204.58579Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E") center/contain no-repeat;
  mask: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22currentColor%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M21.4142%204.58579C22.1953%205.36683%2022.1953%206.63317%2021.4142%207.41421L10.4142%2018.4142C9.63317%2019.1953%208.36684%2019.1953%207.58579%2018.4142L2.58579%2013.4142C1.80474%2012.6332%201.80474%2011.3668%202.58579%2010.5858C3.36683%209.80474%204.63317%209.80474%205.41421%2010.5858L9%2014.1716L18.5858%204.58579C19.3668%203.80474%2020.6332%203.80474%2021.4142%204.58579Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E") center/contain no-repeat;
}

.tiptap.ProseMirror input[type="checkbox"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--mui-palette-action-selected);
}

.tiptap.ProseMirror input[type="checkbox"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.tiptap.ProseMirror input[type="checkbox"]:disabled:checked {
  background-color: var(--mui-palette-text-disabled);
  border-color: var(--mui-palette-text-disabled);
}

.tiptap.ProseMirror .react-renderer.node-flow {
  line-height: normal;
}

.tiptap.ProseMirror .react-renderer.node-image,
.tiptap.ProseMirror .react-renderer.node-inlineLink,
.tiptap.ProseMirror .react-renderer.node-inlineAttachment,
.tiptap.ProseMirror .react-renderer.node-inlineMath {
  display: inline-block;
  margin: 0 0.25rem;
}

.tiptap.ProseMirror .react-renderer.node-inlineMath,
.tiptap.ProseMirror .react-renderer.node-blockMath {
  user-select: none;
}

.tiptap.ProseMirror div[data-content-type="table"],
.tiptap.ProseMirror .react-renderer.node-alert,
.tiptap.ProseMirror .react-renderer.node-iframe,
.tiptap.ProseMirror .react-renderer.node-codeBlock,
.tiptap.ProseMirror .react-renderer.node-blockLink,
.tiptap.ProseMirror .react-renderer.node-flipGrid,
.tiptap.ProseMirror .react-renderer.node-blockAttachment {
  display: block;
  margin: 1rem 0;
}

.tiptap.ProseMirror p :first-child:is(.react-renderer.node-image),
.tiptap.ProseMirror p :first-child:is(.react-renderer.node-inlineMath) {
  margin-left: 0;
}

.tiptap.ProseMirror .audio-wrapper,
.tiptap.ProseMirror .video-wrapper,
.tiptap.ProseMirror .image-wrapper {
  line-height: 0;
}

.tiptap.ProseMirror .react-renderer.node-iframe,
.tiptap.ProseMirror .video-wrapper,
.tiptap.ProseMirror .image-wrapper {
  box-sizing: border-box;
  line-height: 1;
}

.tiptap.ProseMirror .image-wrapper {
  display: inline-block;
}

.tiptap.ProseMirror .image-wrapper img {
  line-height: 0;
}

.tiptap.ProseMirror .codeblock-wrapper.ProseMirror-selectednode>pre,
.tiptap.ProseMirror .audio-wrapper.ProseMirror-selectednode>div,
.tiptap.ProseMirror .video-wrapper.ProseMirror-selectednode>div,
.tiptap.ProseMirror .image-wrapper.ProseMirror-selectednode>span {
  border-color: var(--mui-palette-primary-main);
  background-color: color-mix(in srgb, var(--mui-palette-primary-main) 5%, transparent);
}

.tiptap.ProseMirror .custom-placeholder-node {
  position: relative;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}


.tiptap.ProseMirror .custom-placeholder-node:not(.is-editor-empty:first-child)::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap.ProseMirror .node-codeBlock.custom-placeholder-node:not(.is-editor-empty:first-child)::before {
  position: absolute;
  height: 1.5rem;
  top: 32px;
  left: 16px;
  z-index: 1;
}

.tiptap.ProseMirror ul[data-type="taskList"].custom-placeholder-node:not(.is-editor-empty:first-child)::before {
  position: absolute;
  height: 1.5rem;
  left: 32px;
  z-index: 1;
}

.tiptap.ProseMirror .custom-horizontal-rule {
  margin: 20px 0;
}

.tiptap.ProseMirror .mark-link a:hover {
  text-decoration: underline;
}

.tiptap.ProseMirror[contenteditable="true"] .node-flipGrid:hover .node-flipGridColumn,
.tiptap.ProseMirror.ProseMirror-focused[contenteditable="true"] .node-flipGrid .node-flipGridColumn {
  background-color: var(--mui-palette-background-paper3);
}

.tiptap.ProseMirror[contenteditable="true"] .node-flipGrid .node-flipGridColumn {
  border-radius: var(--mui-shape-borderRadius);
  padding: 4px;
}

.tiptap.ProseMirror[contenteditable="true"] .node-flipGrid .hover-popover-child,
.tiptap.ProseMirror[contenteditable="true"] .node-flipGrid .flip-grid-column-inner {
  height: 100%;
}