@import url('./asset/css/index.css');

.tiptap.ProseMirror {
  overflow-y: auto;
  outline: none;
  color: var(--mui-palette-text-primary);
}

.tiptap.ProseMirror :first-child {
  margin-top: 0;
}

.tiptap.ProseMirror p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.tiptap.ProseMirror blockquote p {
  margin: 0;
}

/* blockquote */
.tiptap.ProseMirror blockquote {
  position: relative;
  padding-left: 1.5rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  margin: 1rem 0;
  color: var(--mui-palette-text-tertiary);
  background-color: var(--mui-palette-background-paper2);
}

.tiptap.ProseMirror blockquote::after {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 0.25rem;
  background-color: var(--mui-palette-divider);
  content: "";
  border-radius: 0;
}

/* list */
.tiptap.ProseMirror ol,
.tiptap.ProseMirror ul {
  padding: 0 1.5rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
  line-height: 2rem;
  list-style: none;
}

.tiptap.ProseMirror li ol,
.tiptap.ProseMirror li ul {
  margin: 0;
}

.tiptap.ProseMirror ol {
  list-style: decimal;
}

.tiptap.ProseMirror ol ol {
  list-style: lower-alpha;
}

.tiptap.ProseMirror ol ol ol {
  list-style: lower-roman;
}

.tiptap.ProseMirror ul:not([data-type="taskList"]) {
  list-style-image: url('./asset/images/down.svg');
}

.tiptap.ProseMirror ul:not([data-type="taskList"]) ul {
  list-style-image: url('./asset/images/down.svg');
}

.tiptap.ProseMirror ul:not([data-type="taskList"]) ul ul {
  list-style-image: url('./asset/images/down.svg');
}

.tiptap.ProseMirror ul[data-type="taskList"] {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.tiptap.ProseMirror ul[data-type="taskList"] li {
  align-items: flex-start;
  display: flex;
}

.tiptap.ProseMirror ul[data-type="taskList"] li>label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}

.tiptap.ProseMirror ul[data-type="taskList"] li>div {
  flex: 1 1 auto;
}

.tiptap.ProseMirror ul[data-type="taskList"] li[data-checked="true"]>div {
  color: var(--mui-palette-text-disabled);
  text-decoration: line-through;
}

.tiptap.ProseMirror ul[data-type="taskList"] input[type="checkbox"] {
  cursor: pointer;
}

.tiptap.ProseMirror ul[data-type="taskList"] ul[data-type="taskList"] {
  margin: 0;
}

.tiptap.ProseMirror ul p,
.tiptap.ProseMirror ol p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

/* code */
.tiptap.ProseMirror pre {
  position: relative;
  border-radius: var(--mui-shape-borderRadius);
  background-color: var(--mui-palette-background-paper2);
}

.tiptap.ProseMirror code {
  padding: 0 0.25rem;
  line-height: 1.5rem;
  font-size: inherit;
  word-break: break-all;
  color: var(--mui-palette-primary-main);
  background-color: var(--mui-palette-background-paper2);
  border-radius: var(--mui-shape-borderRadius);
}

.tiptap.ProseMirror pre code {
  color: inherit;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  -webkit-text-fill-color: inherit;
}

/* details */
.tiptap.ProseMirror .cq-details {
  display: flex;
  gap: 0.25rem;
  margin: 0 0 1rem;
  border: 1px solid var(--mui-palette-divider);
  border-radius: var(--mui-shape-borderRadius);
  padding: 0.5rem;
}

.tiptap.ProseMirror .cq-details summary {
  font-weight: 600;
}

.tiptap.ProseMirror .cq-details>button {
  cursor: pointer;
  background: transparent;
  border-radius: 4px;
  font-size: 0.625rem;
  border: none;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1;
  margin-top: 0.1rem;
  padding: 0;
}

.tiptap.ProseMirror .cq-details>button:hover {
  background-color: var(--mui-palette-divider);
}

.tiptap.ProseMirror .cq-details>button::before {
  content: '\25B6';
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

.tiptap.ProseMirror .cq-details.is-open>button::before {
  transform: rotate(90deg);
}

.tiptap.ProseMirror .cq-details>div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.tiptap.ProseMirror .cq-details>div>[data-type='detailsContent']> :last-child {
  margin-bottom: 0.5rem;
}

.tiptap.ProseMirror .cq-details .cq-details {
  margin: 0.5rem 0;
}

/* emoji */
.tiptap.ProseMirror [data-type='emoji'] img {
  height: 1rem;
  width: 1rem;
  margin: 0;
  padding: 0;
  border: none;
}

/* mention */
.tiptap.ProseMirror .mention {
  background-color: var(--mui-palette-background-paper);
  border-radius: var(--mui-shape-borderRadius);
  box-decoration-break: clone;
  color: var(--mui-palette-primary-main);
  padding: 0.1rem 0.3rem;
}

/* heading */
.tiptap.ProseMirror h1,
.tiptap.ProseMirror h2,
.tiptap.ProseMirror h3,
.tiptap.ProseMirror h4,
.tiptap.ProseMirror h5,
.tiptap.ProseMirror h6 {
  position: relative;
  color: inherit;
  font-style: inherit;
  padding-bottom: 0.25rem;
  margin: 1.5rem 0;
  border-bottom: 1px solid var(--mui-palette-divider);
}

.tiptap.ProseMirror h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--mui-palette-primary-main);
  border-bottom: 2px solid var(--mui-palette-primary-main);
}

.tiptap.ProseMirror h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

.tiptap.ProseMirror h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.tiptap.ProseMirror h4 {
  font-size: 1rem;
  font-weight: 600;
}

.tiptap.ProseMirror h5 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--mui-palette-text-secondary);
}

.tiptap.ProseMirror h6 {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--mui-palette-text-secondary);
}

/* horizontal rule */
.tiptap.ProseMirror hr {
  margin: 2rem 0;
  border: none;
  height: 1px;
  background-color: var(--mui-palette-divider);
}

/* table */
.tiptap.ProseMirror table {
  border-collapse: collapse;
  margin: calc(var(--mui-spacing-unit) * 2) 0;
  table-layout: fixed;
}

.tiptap.ProseMirror table td,
.tiptap.ProseMirror table th {
  border: 1px solid var(--mui-palette-divider);
  box-sizing: border-box;
  min-width: 1rem;
  padding: 0.5rem 0.75rem;
  position: relative;
  vertical-align: top;
}

.tiptap.ProseMirror table td>*,
.tiptap.ProseMirror table th>* {
  margin-bottom: 0;
}

.tiptap.ProseMirror table th {
  background-color: var(--mui-palette-background-paper2);
  font-weight: bold;
}

/* 表格选择状态 */
.tiptap.ProseMirror table .selectedCell:after {
  background-color: color-mix(in srgb, var(--mui-palette-text-primary) 5%, transparent);
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.tiptap.ProseMirror table .column-resize-handle {
  background-color: var(--mui-palette-primary-main);
  bottom: -2px;
  pointer-events: none;
  position: absolute;
  right: -2px;
  top: 0;
  width: 4px;
  z-index: 2;
}

.tiptap.ProseMirror.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

/* youtube */
.tiptap.ProseMirror div[data-youtube-video] {
  cursor: move;
  padding-right: 1.5rem;
}

.tiptap.ProseMirror div[data-youtube-video] iframe {
  border: 1px solid var(--mui-palette-divider);
  padding: 0.25rem;
  border-radius: var(--mui-shape-borderRadius);
  display: block;
  min-height: 200px;
  min-width: 200px;
  outline: 0px solid transparent;
  margin-bottom: 1rem;
}

@keyframes rotate-icon {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}